<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" href="#{paths.resources.bootstrapStyle}" type="text/css"/>
	<link rel="stylesheet" href="#{style}" type="text/css"/>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Almost there...</h1>
				<p>Please check your email to confirm your account</p>
				<hr/>
				<p>No confirmation received? Please check your spam folder or</p>
			</div>
		</div>
		<div class="row">
			<div class="col">#{body}</div>
		</div>
	</div>
	<script src="#{paths.resources.jquery}"></script>
	<script src="#{paths.resources.bootstrapJs}"></script>
</body>
</html>
