<h2>Change password</h2>

<form method="post" action="#{paths.userManagement.updateAccount}">
  <div class="form-group">
    <label for="InputOldPassword">Old password</label>
    <input type="password"
      class="form-control"
      id="InputOldPassword"
      aria-describedby="oldPasswordHelp"
      placeholder="What&#39;s your old password?"
      name="oldPassword">
  </div>

  <div class="form-group">
    <label for="InputNewPassword">New password</label>
    <input type="password"
      class="form-control"
      id="InputNewPassword"
      aria-describedby="inputPasswordHelp"
      placeholder="What&#39;s your new password?"
      name="newPassword">
  </div>

  <div class="form-group">
    <label for="InputConfirmPassword">Confirm new password</label>
    <input type="password"
      class="form-control"
      id="InputConfirmPassword"
      aria-describedby="emailHelp"
      placeholder="Enter again your password"
      name="confirmPassword">
  </div>

  <button class="btn btn-primary" type="submit">Update password</button>
  <a href=#{paths.login.resetForm} class="btn btn-light">I forgot my password</a>
</form>

<h2 class="text-danger mt-5">Delete account</h2>
<a href="#{paths.userManagement.deleteAccount}" class="btn btn-danger">Delete this account</a>
