
<h2 class="text-danger">Delete account</h2>

<p>Are you sure you want to delete this account?</p>


<form method="post" action="#{paths.userManagement.deleteAccount}">
  <div class="form-group">
    <label for="Password">Confirm your password</label>
    <input type="password"
      class="form-control"
      id="Password"
      aria-describedby="passwordHelp"
      placeholder="What&#39;s your password?"
      name="password">
  </div>

  <a href="#{paths.userManagement.account}" class="btn btn-primary" type="submit">Go back</a>
  <button class="btn btn-danger" type="submit">Delete account</button>
</form>
