
<h2 class="text-danger">#{title}</h2>

<p>#{question}</p>

<form method="post" action="#{path}">
  <div class="form-group">
    <label for="Password">Confirm your password</label>
    <input type="password"
      class="form-control"
      id="Password"
      aria-describedby="passwordHelp"
      placeholder="What&#39;s your password?"
      name="password">
  </div>

  <a href="#{path-back}" class="btn btn-primary" type="submit">Go back</a>
  <button class="btn btn-danger" type="submit">#{action}</button>
</form>
