<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="#{style}" type="text/css"/>
		<link rel="stylesheet" href="/assets/style.css" type="text/css"/>
	</head>
	<body>
		<nav class="navbar fixed-top navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img class="logo" src="/assets/logo.svg"/>
			</a>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-5">

					<h1>Reset Password</h1>
					#{messages}
					#{body}
				</div>
			</div>
		</div>
		
		<nav class="navbar fixed-bottom navbar-light bg-light">
				<a class="navbar-brand" href="#">Some message or menu</a>
			</nav>
	</body>
</html>
