<form method="post" action="#{paths.changePassword}?email=#{email}&token=#{token}">
  <div class="form-group">
		<label>Password</label>
		<input class="form-control" placeholder="Enter your new password" type="password" name="password" value=""/>
	</div>

  <div class="form-group">
		<label>Confirm password</label>
		<input class="form-control" placeholder="Confirm the password" type="password" name="passwordConfirm" value=""/>
	</div>

	<button class="btn btn-success" type="submit">Reset password</button>
</form>
