<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="#{paths.resources.bootstrapStyle}" type="text/css"/>
		<link rel="stylesheet" href="#{style}" type="text/css"/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-5">
					<h1>Reset Password</h1>
					#{messages}
					#{body}
				</div>
			</div>
		</div>
    <script src="#{paths.resources.jquery}"></script>
    <script src="#{paths.resources.bootstrapJs}"></script>
	</body>
</html>
