<form method="post" action="#{paths.changePassword}?email=#{email}&token=#{token}">
  <div class="form-group">
		<label>Password</label>
		<input class="form-control" placeholder="" type="password" name="password" value=""/>

		<div class="form-group">
			<label for="InputPassword">Password</label>
			<input type="password"
				class="form-control"
				id="InputPassword"
				aria-describedby="passwordHelp"
				placeholder="Enter your new password"
				name="password">
	</div>

  <div class="form-group">
		<label for="InputPasswordConfirm">Confirm password</label>
		<input type="password"
			class="form-control"
			id="InputPasswordConfirm"
			aria-describedby="passwordConfirmHelp"
			placeholder="Confirm the password"
			name="passwordConfirm">
	</div>

	<button class="btn btn-primary" type="submit">Reset password</button>
</form>
