<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="#{style}" type="text/css"/>
		<link rel="stylesheet" href="/assets/style.css" type="text/css"/>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<img class="logo" src="/assets/logo.svg"/>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-sm-5">

					<ul class="auth-tabs nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="/login" aria-controls="home" role="tab" data-toggle="tab">
								Login
							</a>
						</li>
						<li role="presentation">
							<a href="/register" aria-controls="profile" role="tab" data-toggle="tab">
								Register
							</a>
						</li>
					</ul>

					<div class="body-container">
						#{body}
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<p class="navbar-text">Some message or menu</p>
			</div>
		</nav>
	</body>
</html>
