<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="#{paths.resources.bootstrapStyle}" type="text/css"/>
		<link rel="stylesheet" href="#{style}" type="text/css"/>
	</head>
	<body>
		<nav class="navbar fixed-top navbar-light bg-light">
			<a class="navbar-brand" href="/">
				<img class="logo" src="/assets/logo.svg"/>
			</a>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Almost there...</h1>
					<p>Please check your email to confirm your account</p>
					<hr/>
					<p>No confirmation received? Please check your spam folder or</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">#{body}</div>
			</div>
		</div>
		
		<nav class="navbar fixed-bottom navbar-light bg-light">
			<a class="navbar-brand" href="#">Some message or menu</a>
		</nav>
    <script src="#{paths.resources.jquery}"></script>
    <script src="#{paths.resources.bootstrapJs}"></script>
	</body>
</html>
